body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#instructions, #lockedInstructions {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}